.ModeModal {
    height: 100vh;
    width: 100vw;
    background: $overlay;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &__title {
        font-size: $large-font;
        text-align: center;
        color: $off-black;
    }

    &--onePlayer, &--twoPlayer {
        background: #BBD2C5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: none;
        border-radius: 4px;
        padding: 10px 40px;
        transition: all 0.5s;
        font-size: $medium-font;
        margin-top: 12px;

        &:hover {
            color: white;
            cursor: pointer;
            box-shadow: 4px 5px 4px 4px $shadow;
        }

        &:active {
            transform: translateY(4px);
        }

        &:focus {
            outline: none;
        }
    }
}
