// colors
$off-black: #20222b;
$off-white: #a5afd7;
$heighlight: rgba(0, 255, 0, 0.3);
$overlay: rgba(0, 0, 255, 0.4);
$shadow: rgba(0, 0, 0, 0.3);

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.8rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// font
$arial: Arial, Helvetica, sans-serif;
$large-font: 7em;
$medium-font: 2em;
$placers-font: 'Gloria Hallelujah', cursive;